.services {
    max-width: var(--max-width);
    margin: var(--centered);
    padding: 90px 50px 0;
    background: rgba(210, 210, 210, .12);
    padding-bottom: 150px;
}

.services .main-info__button.main-info__button--outline {
    margin: 40px auto 0;
    display: block;
}
.services__title {
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: var(--font-size-subtitle);
    letter-spacing: 1.5px;
    margin-bottom: 60px;
}

@media(max-width: 576px) {
    .services__title {
        font-size: 2em;
    }
}

.surrounds-services-item {
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.services__item {
    padding: 25px;
    z-index: 2;
    position: relative;
    max-width: 600px;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.05);
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media(max-width: 767px) {
    .services__item {
        padding: 18px;
    }

    .services__header-title a {
        font-size: 14px;
    }
}

.services__header {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__header-title {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}

.services__header-link {
    display: block;
    background: rgba(210, 210, 210, .21);
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__content {
    width: 100%;
    max-width: 1250px;
    margin: var(--centered);
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 30px;
}

@media(max-width: 767px){
    .services__content {
        flex-wrap: wrap;
    }
}

.space-to-top {
    margin-top: 30px;
}

.services__img {
    width: fit-content;
    border-radius: 20px;
    overflow: hidden;
}

.services__img img {
    display: block;
    width: 100%;
    height: 100%;
}

/* Circles details */
.surrounds-services-circle-1 {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100%;
    max-width: 200px;
    height: 200px;
    background: var(--primary-color);
    border-radius: 100%;
    filter: blur(150px);
    box-shadow: 0 0 300px 100px var(--primary-color);
    z-index: 1;
}