.work-tools {
    background: rgba(210, 210, 210, .12);
    max-width: var(--max-width);
    margin: var(--centered);
    padding: 50px 50px 200px;
}

.work-tools__title {
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: var(--font-size-subtitle);
    letter-spacing: 1.5px;
    margin-bottom: 60px;
}

@media(max-width: 576px) {
    .work-tools__title {
        font-size: 2em;
    }
}

.work-tools .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    max-width: 800px;
}

.work-tools__item {
    position: relative;
    background-image: url(../img/bg-work-tools-item.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: var(--transition);
    width: 100%;
    height: 100%;
    padding: 40px;
    width: fit-content;
}

.work-tools .swiper-slide {
    display: flex;
    justify-content: center;
}

.work-tools__item:hover {
    background-image: url(../img/bg-work-tools-hover.png);
    transition: var(--transition);
}

.work-tools__item img {
    display: block;
    object-fit: contain;
    z-index: 3;
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
}

.work-tools__item--figma {
    width: 130px;
}