.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;

    @media(max-width: $bp-medium) {
        & {
            display: none;
        }
    }

    &.default-position {
        
    }

    &__block {
        display: flex;
        gap: 50px;
        margin-top: 40px;
        border-radius: $border-radius;
        padding: 16px 50px;
        position: relative;
        background-image: url(../../img/bg-header.png);
        background-repeat: no-repeat;
        background-size: contain;
        transition: $transition;

        &:hover {
            background-image: url(../../img/bg-header-hover.png);
            transition: var(--transition);
        }
    }

    &__link {
        color: white;
        font-family: $font-family-title;
        font-size: $font-size-text;
        font-weight: 500;
        transition: $transition;

        &:hover {
            color: $primary-color;
        }
    }

}