.main-nav-mobile {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 350px;
    z-index: 50;
    background: hsla(0, 0%, 14%, 0.4);
    box-shadow: 0 0 50px 0 hsla(0, 0%, 14%, 0.4);
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px;
    transition: $transition;
    visibility: visible;

    &[aria-hidden="true"] {
        visibility: hidden;
        transition: $transition;
        left: -350px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 35px;
        font-family: $font-family-title;
        letter-spacing: $letter-spacing;
        font-weight: $font-weight-600;

        a {
            transition: $transition;
         &:hover {
            color: $primary-color;
            transition: $transition;
         }   
        }
    }

    &__close {
        outline: none;
        border: none;
        cursor: pointer;
        background: none;

        span {
            display: block;
            background: hsla(0, 0%, 14%, 0.4);
            border-radius: 50px;
            height: 35px;
            width: 35px;
            color: white;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8px;
            transition: $transition;

            &:hover {
                background: hsla(0, 0%, 14%, 0.6);
                box-shadow: 0 0 20px 0 hsla(0, 0%, 40%, 0.6);
                transition: $transition;
            }
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 18px;
        font-family: $font-family-text;
        font-weight: 500;
        margin-top: 50px;
    }

    &__link {
        transition: $transition;

        &:hover {
            color: $primary-color;
            transition: $transition;
            padding-left: 3px;
        }
    }

    &__socials {
        position: absolute;
        bottom: 30px;
        left: 30px;

        &-block {
            display: flex;
            flex-direction: row;
            gap: 15px;
        }

        &-link {
            background: hsla(0, 0%, 14%, 0.4);
            box-shadow: 0 0 50px 0 hsla(0, 0%, 14%, 0.4);
            backdrop-filter: blur( 13px );
            -webkit-backdrop-filter: blur( 13px );
            border: 1px solid hsla(0, 0%, 24%, 0.8);
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            transition: $transition;

            &:hover {
                transform: scale(1.1);
                transition: $transition;
            }
        }
    }

    &__socials-title {
        @extend .visually-hidden;
    }
}

.surrounds-main-section {
    position: relative;
    overflow: hidden;

    .btn-open-mobile {
        position: fixed;
        right: 30px;
        top: 30px;
        outline: none;
        border: none;
        background: hsla(0, 0%, 14%, 0.4);
        border-radius: 50px;
        height: 35px;
        width: 35px;
        cursor: pointer;
        color: white;
        z-index: 50;
        font-size: 16px;
        margin-top: 8px;
        z-index: 49;
        display: none;
        transition: $transition;

        &:hover {
            background: hsla(0, 0%, 14%, 0.6);
            box-shadow: 0 0 20px 0 hsla(0, 0%, 40%, 0.6);
            transition: $transition;
        }

        @media(max-width: $bp-medium) {
            & {
                display: block;
            }
        }
    }

    .main-section {
        max-width: $max-width;
        margin: $centered;
        position: relative;
        padding: 0 50px;
        background: rgba(210, 210, 210, .21);
        background-size: cover;
        z-index: 2;

        @media(max-width: $bp-small) {
            & {
                padding: 0 30px;
            }
        }

        .main-info {
            display: flex;
            justify-content: center;
            align-items: start;
            padding-top: 200px;
            max-width: $bp-xlarge;
            margin: $centered;
            column-gap: 120px;
            position: relative;

            @media(max-width: $bp-medium) {
                & {
                    flex-wrap: wrap;
                    gap: 100px;
                    padding-top: 100px;
                    justify-content: start;
                }
            }

            &__title {
                @extend %title;
                text-align: start;
                font-size: 3.5em;
                order: 2;
            }

            &__subtitle {
                font-family: $font-family-text;
                font-size: 1.38em;
                font-weight: 500;
                letter-spacing: $letter-spacing;
                margin-bottom: 10px;
                order: 1;
            }

            &__left {
                display: flex;
                flex-direction: column;
                max-width: 550px;
            }

            &__text {
                font-family: $font-family-text;
                font-size: $font-size-text;
                letter-spacing: $letter-spacing;
                order: 3;
                margin-top: 20px;
                font-weight: $font-weight;
            }

            &__buttons {
                order: 4;
                margin-top: 50px;
                display: flex;
                gap: 20px;

                @media(max-width: 450px) {
                    & {
                        flex-wrap: wrap;
                    }
                }
            }

            &__button {
                @extend %button;

                &--outline {
                    @extend %button-outline;
                }
            }

            @media(max-width: $bp-small) {
                &__title {
                    font-size: 2em;
                }
            
                &__subtitle {
                    font-size: 1em;
                }
            
                &__text {
                    font-size: 14px;
                }
            
                &__button {
                    max-width: 150px;
                    font-size: 1em;
                }
            }

            &__img {
                width: 100%;
                object-fit: cover;

                @media(max-width: $bp-medium) {
                    & {
                        display: none;
                    }
                }
            }
        }

    
        /* Swipper Tools */
        #main-section .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
            top: 20px;
        }

        .swiper-tools {
            padding-bottom: 80px;
            max-width: $bp-xlarge;
            margin: $centered;
            overflow: hidden;

            #tools-title {
                @extend .visually-hidden;
            }

            @media(min-width: 640px) {
                & .swiper-slide {
                    visibility: visible!important;
                }
            }

            @media(min-width: $bp-medium) {
                & {
                    padding-top: 100px;
                }
            }

            @media(min-width: $bp-xlarge) {
                & {
                    padding-top: 0;
                }
            }
        }

        .swiper-slide.swiper-slide-tools {
            display: flex;
            flex-direction: row;
            gap: 10px;

            @media(min-width: 500px) {
                & {
                    width: fit-content!important;
                }
            }
        }

        .swiper-slide__tools-list {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 10px;
        }

        .swiper-slide__tools-info {
            font-family: "Murecho", sans-serif;
            font-weight: bold;
            font-size: 15px;
            letter-spacing: 2px;
        }

        /* Circles details */
        &__circle-1,
        &__circle-2,
        &__circle-3 {
            position: absolute;
            top: 0;
            width: 100%;
            max-width: 500px;
            height: 500px;
            max-width: 400px;
            background: $primary-color;
            border-radius: 100%;
            filter: blur(150px);
            box-shadow: 0 0 300px 100px $primary-color;
            z-index: 1;
        }

        &__circle-2 {
            box-shadow: 0 0 400px 200px $secondary-color;
            background: var(--secondary-color);
            bottom: -300px;
            left: 400px;
            top: unset;
        }

        &__circle-3 {
            box-shadow: 0 0 400px 200px $third-color;
            background: $third-color;
            bottom: -200px;
            left: unset;
            right: -100px;
            top: unset;
        }
    }
}