// Define tipografia
html {
    font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
}

// Centraliza verticalmente qualquer coisa
.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transition {
    transition: all .3s linear;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}